<div class="container">
    <h1>Registration Number System</h1>
    <p>FORMAT: ONLY TAKE PLATES FROM CAPE TOWN(CA) & PRETORIA(PA) & WORCESTER(WC).
        eg. CA 123 456 Or CA 123-456 Or CA 1234 </p>
    {{!-- <span id="error"></span> --}}

    <div class="passed">
        {{messages.infoIn}}
    </div>
    
    <div class="error">
        {{messages.infoRed}}
    </div>


    <div class="adjust">
        <div class="section1">
            <form action="/reg_numbers" method="POST">
                <h3>Enter Plate:</h3>
        </div>
        <div>
            <input type="text" name="inputBox" value="" placeholder="eg.CA 12345" class="plates">
        </div>
    </div>
    <div>
        <button class="button-primary add" type="submit" name="button"> <span>ADD</span></button>
    </div>
    </form>


    <form action="/showButton" method="POST">
        <div class="f-group">
            <label for="" class="title">Select from which Town</label>
            <select name="slct" id="slct" class="slct1">
                <option value="0">Town</option>
                <option value="1">Cape Town</option>
                <option value="2">Pretoria</option>
                <option value="3">Worcester</option>
            </select>
        </div>



        <div class="lastbuttons">

            <div class="buttons">
                <button class="button-primary show" type="submit" name="button"> <span>SHOW</span></button>
            </div>
    </form>

    <form action="/showAllButton" method="POST">
        <div class="buttons">
            <button class="button-primary showAll" type="submit" name="button"> <span>SHOW_All</span></button>
        </div>
    </form>

    <form action="/resetButton" method="POST">
        <div class="buttons">
            <button class="button-primary reset" type="submit" name="button"> <span>RESET</span></button>
        </div>
</div>
</form>

<div class="str">
    {{#each output}}
    <ul>
        <li>{{registration_numbers}}</li>
    </ul>
    {{/each}}

</div>
</div>